.graph-container {
    width: 600px;
    height: 300px;
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.bar-container {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    display: flex;
}

.category {
    position: relative;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph {
    position: absolute;
    width: 40px;
    background-color: #F0C3F1;
    bottom: 0;
    border-radius: 5px;
}

.name {
    position: absolute;
    bottom: -30px;
}

@media(max-width:700px){
    .graph-container {
        width: 100%;
    }
    .graph {
        width: 35px;
    }
    .name{
        font-size: 8px;
    }
}